/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(imgs/loginbg.jpg);
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #57565667;
    padding: 30px;
    border-radius: 8px;
    /* box-shadow: 1 20px 20px rgb(74, 0, 97); */
    box-shadow: rgb(41, 0, 51) 0px 10px 36px 0px, rgb(41, 0, 51) 0px 0px 0px 1px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: rgb(31, 71, 131);
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: whitesmoke;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 71, 131);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: blue;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
